<div class="container" style="padding-top: 20px;">
    <img src="@/assets/imgs/check.png" class="rounded mx-auto d-block check-image">
    
    <strong></strong>
    <p></p>
</div>
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">感謝您的資料填寫，就差最後一步了!</h4>
        <p>為了避免錯誤資料導致無法即時通知您，所以我們需要進行手機認證。</p>
        <hr>
        <p class="mb-0">別擔心！本平台所搜集的資料僅供追蹤疫情用，資料最多保存30天後將自動刪除，感謝您的配合！</p>
      </div>
</div>
<div class="container">
    <form>
        <div class="mb-3">
            <label for="phone-number-verification" class="form-label">簡訊驗證碼</label>
            <input type="number" class="form-control" id="phone-number-verification-input" maxlength="20" required/>
        </div>
        <button type="submit" style="width: 100%;" class="btn btn-primary">送出</button>        
        <div id="help" class="form-text"><a href="">未收到簡訊？</a></div>
    </form>
</div>