<div class="flex-grow: 1;" style="height: 600px;">
    <div class="container" style="padding-top: 20px;">
        <img src="@/assets/imgs/love.png" class="rounded mx-auto d-block love-image" />
    </div>
    <div class="container" style="padding-top: 20px;">
        <div class="alert alert-success" role="alert">
            <h1 class="alert-heading" style="text-align: center;">實名驗證完成，感謝您的配合！</h1>
            <hr>
            <h2 class="alert-heading" style="text-align: center;">入場時請出示此頁面即可。</h2>
        </div>
    </div>
    <div class="container" style="padding-top: 20px;">
        <button hidden type="submit" class="btn btn-primary" style="width: 100%;">查詢過往30天足跡</button>
    </div>
</div>