<div class="container" style="padding-top: 20px;">
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">疫情期間你我有責!</h4>
        <p>親愛的民眾您好，您所提供的資料僅用於疫情追蹤使用，不會作為其他用途。</p>
        <hr>
        <p class="mb-0">所搜集的資料最多保存30天後將自動刪除，請勿擔心，感謝您的配合！</p>
    </div>
</div>
<div class="container" style="text-align: left; padding-top: 20px;">
    <div class="alert alert-info" role="alert">
        您正在填寫『<strong>{{shopName}}</strong>』的防疫表單
    </div>
    <form>
        <div class="mb-3">
            <label for="real-name" class="form-label">請填寫您的真實姓名</label>
            <input type="text" class="form-control" id="real-name-input" v-model="realName" placeholder="ex: 王小明" maxlength="25" required/>
            <div style="color: red"><small>{{realNameErrorMsg}}</small></div>
        </div>
        <div class="mb-3">
            <label for="phone-number" class="form-label">請填寫您的聯絡電話</label>
            <input type="tel" class="form-control" id="phone-number-input" v-model="phoneNumber" placeholder="ex: 0912345678" oninput="value=value.replace(/[^\d]/g,'')" maxlength="10" required/>
            <div style="color: red"><small>{{phoneNumberErrorMsg}}</small></div>
        </div>
        <div class="mb-3">
            <label for="person-amount" class="form-label">請填寫一同進入的人數(包含自己)</label>
            <input type="range" class="form-range" min="1" max="10" step="1" id="customRange3" v-model.number="personAmount">
            <input type="number" class="form-control" style="width: 100%" v-model.number="personAmount" max="10" min="1" required/>
        </div>
        <button type="button" style="width: 100%;" class="btn btn-primary" @click="checkForm">送出</button>        
        <div id="emailHelp" class="form-text">請麻煩一定要確實填寫正確資訊，感謝您的配合！</div>
    </form>
</div>